body {
  font-family: Arial, sans-serif;
  background: #E05A24;
  margin: 0;
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
}

input, button {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

button {
  background: #222;
  color: white;
  font-size: 16px;
}

h2 {
  text-align: center;
}
