<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  background: #E05A24;
  margin: 0;
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
}

input, button {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

button {
  background: #222;
  color: white;
  font-size: 16px;
}

h2 {
  text-align: center;
}
=======
body {
  background: #E05A24;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  background: #EF8C37;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
}

input, select, button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

button {
  background: black;
  color: white;
  font-weight: bold;
}
>>>>>>> 93e86b19b715aef053c8530644d305ded61b89c5
